body{
  font-family: sans-serif;
  margin: 0;
}

#background{
  background-image: url("fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.75);
}
a{
  text-decoration: none;
 color: white;
}
header{
  display: flex;
  background-color: #14161A;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logo{
 display: flex;
 align-items: center;
}
.logo img{
  height: 50px;
  margin-right: 12px;
}
nav a{
  font-weight: 600;
  padding-right: 11px;
}
nav a:hover{
  color: #F0DB4F;
}

@media (max-width: 680px){
  header{
      flex-direction: column;
  }
  nav{
      padding: 10px 0px;
  }
}

/*  Cuadrito intro */

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#box {
  width: 1000px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

#box p {
  margin: 0;
  padding: 10px;
}

.box.animate {
  animation: fadein 2s;
  transform: rotate(45deg);
}

.box.animate-reverse {
  animation: fadeout 2s;
  transform: rotate(-45deg);
}

@keyframes fadein {
  from { transform: translateY(0) rotate(0deg); opacity: 0; }
  to   { transform: translateY(-50px) rotate(45deg); opacity: 1; }
}

@keyframes fadeout {
  from { transform: translateY(50px) rotate(-45deg); opacity: 1; }
  to   { transform: translateY(0) rotate(0deg); opacity: 0; }
}



/* Nuevo  */

#info-section {
  background-color: #f2f2f2a9;
  padding: 20px;
  margin-top: 30px;
}

.info-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.info-item h3 {
  margin-top: 0;
}

.info-item p {
  margin-bottom: 0;
}


/* Nuevo 2*/

h1 {
  
  text-align: center;
}

h3 {
  color: #2b612e
}
